footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    .socials {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}